* {
    font-family: 'Open Sans',
        sans-serif;
}
.navbar {
    z-index: 150;
}
@media screen and (max-width: 1000px) {
    .navbar-collapse {
        left: 50%;
    }
}
.nav-link:hover {
    border-bottom: 3px solid white;
}
.navbar {
    background-image: url('./images/navpic.png');
    background-size: cover;
}
.footer {
    background: url('./images/footer-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.footer .box-container .box h3 {
    color: var(--white);
    font-size: 1.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a {
    color: var(--light-white);
    font-size: 1rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i {
    color: rgb(90,
            142,
            163);
    ;
    padding-right: .5rem;
    transition: .2s linear;
}
.footer .box-container .box a:hover i {
    padding-right: 2rem;
}
.box {
    margin-top: 40px;
}