* {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  z-index: 150;
}

.navbar-collapse {
  /* position: fixed;
  left: 60%; */
  /* top: 1%; */
  margin-left: 510px;
}

@media screen and (max-width: 1000px) {
  .navbar-collapse {
    left: 50%;
  }
}

.nav-link:hover {
  border-bottom: 3px solid white;
}

.my-carousel {
  margin-top: -80px;
}

.my-carousel .carousel-item {
  height: 800px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 800px;
}
.pricing
{
    background-color:cadetblue;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor:pointer;
}
.services-text,
.packages-text {
  font-size: 2.5rem;
  font-family: "Mouse Memoirs", sans-serif;
}

.service {
  height: 100px;
  border-radius: 20%;
  background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}

.service-card :hover {
  color: black;
  border-radius: 5%;
  background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
  cursor: pointer;
}

.service-card {
  color: white;
  border: 0px solid transparent;
  border-radius: 5%;
  background-color: rgb(90, 142, 163);
}

@media screen and (max-width: 770px) {
  .service-card {
    margin-top: 20px;
  }
}

.img {
  background-image: url("./travel-svgrepo-com.svg");
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.package {
  border-radius: 5%;
}

.btn-book:hover {
  background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
  cursor: pointer;
  color: black;
}

.btn-book {
  background-color: rgb(90, 142, 163);
  color: white;
}

.footer {
  background: url("./images/footer-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box h3 {
  color: var(--white);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1rem;
  padding-bottom: 1rem;
  display: block;
}

.footer .box-container .box a i {
  color: rgb(90, 142, 163);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.box {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: white;
}
.center-div{
  text-align: center;
}