* {
    font-family: 'Open Sans',
        sans-serif;;
}

.navbar {
    z-index: 150;   
}

.navbar-collapse {
    position: fixed;
    left: 65%;
    top: 0%;
}

@media screen and (max-width: 1000px) {
    .navbar-collapse {
        left: 50%;
    }
}

.nav-link:hover {
    border-bottom: 3px solid white;
}

.my-carousel {
    margin-top: -80px;
}

.my-carousel .carousel-item {
    height: 600px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}


