* {
    font-family: 'Open Sans',
        sans-serif;
}

.navbar {
    z-index: 150;   
}

.navbar-collapse {
    position: fixed;
    left: 63%;
    top: 1%;
}

@media screen and (max-width: 1000px) {
    .navbar-collapse {
        left: 50%;
    }
}

.nav-link:hover {
    border-bottom: 3px solid white;
}

.my-carousel {
    margin-top: -80px;
}

.my-carousel .carousel-item {
    height: 800px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 800px;
}

.services-text {
    font-size: 2.5rem;
}

.service {
    height: 100px;
    border-radius: 20%;
    background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
}

.service-card:hover {
    color: white;background-image: linear-gradient(to right, #4ca1af, #c4e0e5);
    cursor: pointer;
}

.service-card {
    border: 0px solid transparent;
    border-radius: 5%;
    background-color: rgb(90,
        142,
        163);
}

@media screen and (max-width: 770px) {
    .service-card {
        margin-top: 20px;
    }
}